$base-font : 16px !default; 

html {
	font-size: $base-font;
	line-height: 1.5;
	//overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

::-moz-selection { 
	background-color: $color-primary; 
	color: $color-white; 
	text-shadow: none; 
}
::selection      { 
	background-color: $color-primary; 
	color: $color-white; 
	text-shadow: none; 
}

img { 
	-ms-interpolation-mode: bicubic; 
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px; margin: -1px;
	overflow: hidden; padding: 0;
	position: absolute; 
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; }

@media print {
	img { max-width: 100% !important; }
}

@media print {
	p, h2, h3 { orphans: 3; widows: 3; }
}
